.quiz2-intro-form-wrap h4,
.css-wjajup .quiz2-intro-wrap .quiz-disclaimer,
.css-wjajup .quiz2-intro-wrap .quiz-name-wrap {
  display: none;
}

.css-8r2qqr button.button.blue {
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  padding: 18px 47px;
}

@media (max-width: 600px) {
  .css-8r2qqr button.button.blue {
    display: block;
    padding: 15px;
    max-width: 260px;
    min-width: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 600px) {
  .css-wjajup .quiz2-intro-wrap.quiz-content-top .quiz2-intro-form {
    padding: 0 20px !important;
  }
}

.css-wjajup .quiz2-intro-wrap .quiz2-intro-form-wrap h3 {
  font-size: 26px;
}

@media (max-width: 600px) {
  .css-wjajup .quiz2-intro-wrap .quiz2-intro-form-wrap h3 {
    font-size: 22px;
  }
}

@media (max-width: 600px) {
  .css-wjajup .quiz2-intro-wrap {
    display: block;
  }
}

.css-wjajup .quiz2-intro-wrap .quiz2-intro-form-wrap .e-text-field {
  background: #ffffff;
  border: 1px solid #cfcfcf;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: left;
  height: 45px;
  padding: 10px 20px;
  max-width: 100%;
}

.css-wjajup .quiz2-intro-wrap .quiz-name-wrap {
  margin-top: 25px !important;
}

.css-wjajup .quiz2-intro-wrap .quiz2-intro-form-wrap .input-wrapper {
  border: none;
  max-width: 300px;
  padding: 0;
  margin: 0;
  margin-top: 15px;
  margin-left: 0 !important;
}

@media (max-width: 600px) {
  .css-wjajup .quiz2-intro-wrap .quiz2-intro-form-wrap .input-wrapper {
    max-width: 260px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.css-wjajup .quiz2-intro-wrap .quiz2-intro-form .quiz2-intro-form-wrap {
  max-width: 700px;
  padding: 30px 0 45px;
  width: 100%;
}

.step-one__disclaimer {
  display: none;
  margin-top: 43px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 600px) {
  .step-one__disclaimer {
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    max-width: 260px;
    margin: 33px auto;
  }
}

.step-one__finish-wrap {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .step-one__finish-wrap {
    margin-top: 0;
  }
}

.step-one__back {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #3856a7;
  margin-right: 35px;
  cursor: pointer;
  position: absolute;
  left: 20px;
  padding-left: 15px;
  line-height: 1;
}

@media (max-width: 992px) {
  .step-one__back {
    position: relative;
    left: 0;
  }
}

.step-one__back:before {
  content: '';
  position: absolute;
  left: 0;
  top: 6px;
  width: 8px;
  height: 8px;
  border-left: 3px solid #3856a7;
  border-bottom: 3px solid #3856a7;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.step-one__back:hover {
  opacity: 0.7;
}

.step-one__side {
  padding: 70px 30px;
  max-width: 370px;
  margin-right: auto;
}

@media (max-width: 600px) {
  .step-one__side {
    display: block !important;
    max-width: 100%;
    width: 100%;
    text-align: center;
    padding: 20px;
  }
}

.step-one__side-title {
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
  color: #15226a;
  margin-top: 25px;
}

@media (max-width: 600px) {
  .step-one__side-title {
    margin-top: 0;
    font-size: 24px;
    line-height: 28px;
  }
}

.step-one__side-caption {
  line-height: 24px;
  color: #3856a7;
  font-size: 18px;
  font-weight: 600;
  margin-top: 35px;
  max-width: 270px;
}

@media (max-width: 600px) {
  .step-one__side-caption {
    display: none;
  }
}

.step-one__progress_desk {
  margin-bottom: 70px;
}

@media (max-width: 600px) {
  .step-one__progress_desk {
    display: none;
  }
}

.step-one__progress_mob {
  display: none;
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 600px) {
  .step-one__progress_mob {
    display: block;
  }
}

.step-one__title {
  margin-bottom: 50px;
  font-size: 26px;
  line-height: 1;
  font-weight: 700;
}

@media (max-width: 600px) {
  .step-one__title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
  }
}

.step-one__text {
  font-size: 18px;
  line-height: 1;
}

.step-one__gender-toggler {
  cursor: pointer;
}

.step-one__gender-toggler:hover {
  opacity: 0.8;
}

@media (max-width: 600px) {
  .step-one__gender-toggler:hover {
    opacity: 1;
  }
}

.step-one__child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 65px;
}

@media (max-width: 600px) {
  .step-one__child {
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }
}

.step-one__child-genders {
  margin: 0 60px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 0;
}

@media (max-width: 600px) {
  .step-one__child-genders {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 15px 0;
  }
}

.step-one__child-gender {
  border: 3px solid #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff;
  width: 60px;
  height: 60px;
  border: 2px solid rgba(56, 86, 167, 0.2);
}

.step-one__child-gender.active {
  border-color: #3856a7;
}

.step-one__child-gender + .step-one__child-gender {
  margin-left: 20px;
}

.step-one__child-twins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 600px) {
  .step-one__child-twins {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.step-one__child-checkbox {
  position: relative;
  width: 24px;
  height: 24px;
  background: #ffffff;
  border-radius: 6px;
  margin-right: 9px;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  border: 2px solid rgba(56, 86, 167, 0.2);
}

.step-one__child-checkbox:before {
  content: '';
  width: 5px;
  height: 10px;
  opacity: 0;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%) rotate(45deg);
  transform: translate(-50%, -60%) rotate(45deg);
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.active .step-one__child-checkbox {
  background-color: #3957a5;
}

.active .step-one__child-checkbox:before {
  opacity: 1;
}

.step-one__birth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .step-one__birth {
    display: block;
    text-align: center;
  }
}

.step-one__birth .step-one__text {
  margin-right: 20px;
}

@media (max-width: 600px) {
  .step-one__birth .step-one__text {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.step-one__birth input[type='date'] {
  max-width: 243px;
  min-width: auto;
  width: 100%;
  padding: 4px 12px 6px 18px;
  text-align: left;
  font-weight: 700;
  width: 100%;
  line-height: 135%;
  color: #15206b;
  height: 44px;
  font-size: 24px;
  margin-top: 0;
}

@media (max-width: 600px) {
  .step-one__birth input[type='date'] {
    max-width: 260px;
    margin: auto;
  }
}
/*# sourceMappingURL=index.css.map */