.quiz2-intro-form-wrap {
  h4 {
    display: none;
  }
}

.css-wjajup .quiz2-intro-wrap .quiz-name-wrap {
  display: none;
}

.css-wjajup .quiz2-intro-wrap .quiz2-intro-form-wrap .e-text-field {
  background: #ffffff;
  border: 1px solid #cfcfcf;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: left;
  height: 45px;
  padding: 10px 20px;
  max-width: 100%;
}

.css-wjajup .quiz2-intro-wrap .quiz-name-wrap {
  margin-top: 40px !important;
}

.css-wjajup .quiz2-intro-wrap .quiz2-intro-form-wrap .input-wrapper {
  border: none;
  max-width: 300px;
  padding: 0;
  margin: 0;
  margin-top: 15px;
  margin-left: 0 !important;
}

.css-wjajup .quiz2-intro-wrap .quiz2-intro-form .quiz2-intro-form-wrap {
  max-width: 800px;
  padding: 80px 0 45px;
  width: 100%;
}
.step-one {
  &__finish {
    &-wrap {
      align-items: center;
      display: none;
      margin-top: 55px;
    }
  }
  &__back {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: #15226a;
    margin-right: 35px;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      opacity: 0.7;
    }
  }
  &__side {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    max-width: 360px;
    margin: auto;
    @media (max-width: 1470px) {
      // max-width: 360px;
      padding-left: 60px;
    }
    &-title {
      font-weight: bold;
      font-size: 28px;
      line-height: 1.2;
      text-align: center;
      color: #15226a;
      margin-top: 25px;
      @media (max-width: 1470px) {
        font-size: 22px;
      }
    }
    &-caption {
      line-height: 1.4;
      text-align: center;
      color: #15226a;
      font-size: 14px;
      margin-top: 22px;
      @media (max-width: 1470px) {
        font-size: 13px;
      }
    }
  }
  &__progress {
    margin-bottom: 60px;
  }
  &__title {
    margin-bottom: 50px;
    font-size: 26px;
    line-height: 1;
    font-weight: 700;
  }
  &__text {
    font-size: 22px;
    line-height: 26px;
    // font-weight: 700;
  }
  &__gender-toggler {
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
  &__child {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    &-genders {
      margin: 0 45px;
      display: flex;
      line-height: 0;
    }
    &-gender {
      border: 3px solid #fff;
      transition: 0.5s;
      border-radius: 15px;
      overflow: hidden;
      background-color: #fff;
      width: 84px;
      height: 84px;
      & + & {
        margin-left: 22px;
      }
      &.active {
        border-color: #3957a5;
      }
    }
    &-twins {
      display: flex;
      align-items: center;
    }
    &-checkbox {
      position: relative;
      width: 24px;
      height: 24px;
      background: #ffffff;
      border-radius: 5px;
      margin-right: 12px;
      transition: 0.35s;
      &:before {
        content: '';
        width: 5px;
        height: 10px;
        opacity: 0;
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%) rotate(45deg);
        transition: 0.35s;
      }
      .active & {
        background-color: #3957a5;
        &:before {
          opacity: 1;
        }
      }
    }
  }
  &__birth {
    display: flex;
    align-items: center;
    white-space: nowrap;
    .step-one__text {
      margin-right: 20px;
    }
    input[type='date'] {
      max-width: 243px;
      min-width: auto;
      width: 100%;
      padding: 4px 12px 6px 18px;
      text-align: left;
      font-weight: 700;
      width: 100%;
      line-height: 135%;
      color: rgb(21, 32, 107);
      height: 44px;
      font-size: 24px;
      margin-top: 0;
    }
  }
}
